*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   /*background: brown;*/
   background: rgba(0, 0, 0, .5);
    color: #000000;
    margin-bottom: 100px;
    /*padding: 200px 0;*/
    position: relative;
    overflow: hidden;
    min-height: 70vh;
}
.hero .vid-middle{
    position: relative;
}
.hero .vid-middle .button a{
    padding: 10px 20px;
    background-color: brown;
    color: #ffffff;
    border-radius: 10px;

}
.video-bg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
 
.hero h3{
    color: #ffffff;
}

.form-group input{
  margin: 5px;
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #ccc;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  text-align: center;
  transition: all 0.1s;
}

  #offerings h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .card {
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
  }
  
  .owl-carousel {
    position: relative;
  }
  
  .owl-carousel .owl-stage {
    transition: all 0.5s ease-in-out;
  }
  
  /* Remove navigation buttons */
  .owl-nav {
    display: none;
  }
  
  /* Add animation to slide */
  .owl-carousel .owl-item {
    transform: scale(0.8); /* Adjust the size of the items as per your preference */
    opacity: 0.5; /* Adjust the opacity of the items as per your preference */
    transition: all 0.5s ease-in-out;
  }
  
  /* Make current active slide visible */
  .owl-carousel .owl-item.active {
    transform: scale(1); /* Adjust the size of the active item as per your preference */
    opacity: 1; /* Adjust the opacity of the active item as per your preference */
  }
  
  /* Add auto-play */
  .owl-carousel .owl-item {
    animation: slide 5s infinite; /* Adjust the time duration for slide transition as per your preference */
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-25%); /* Adjust the percentage of translation for desired slide effect */
    }
    40% {
      transform: translateX(-50%);
    }
    60% {
      transform: translateX(-75%);
    }
    80% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  button .btn{
    background-color: brown;
    color: #ffffff;
  }
  